@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Publico Text Mono";
  src: url("./fonts/PublicoTextMono-Roman.woff2") format("woff2"),
    url("./fonts/PublicoTextMono-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antique Legacy";
  src: url("./fonts/AntiqueLegacy-Bold.woff2") format("woff2"),
    url("./fonts/AntiqueLegacy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antique Legacy";
  src: url("./fonts/AntiqueLegacy-Semibold.woff2") format("woff2"),
    url("./fonts/AntiqueLegacy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antique Legacy";
  src: url("./fonts/AntiqueLegacy-Regular.woff2") format("woff2"),
    url("./fonts/AntiqueLegacy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antique Legacy";
  src: url("./fonts/AntiqueLegacy-Thin.woff2") format("woff2"),
    url("./fonts/AntiqueLegacy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antique Legacy";
  src: url("./fonts/AntiqueLegacy-Medium.woff2") format("woff2"),
    url("./fonts/AntiqueLegacy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: Antique Legacy;
  font-size: 16px; /* 1rem (now for any resolution) */
  background-color: #fefdfb;
  color: #2b2b2b;
  line-height: 130%;
  font-synthesis: none;
  letter-spacing: -0.02em;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
p {
  line-height: 120%;
}

@layer components {
  .card {
    @apply flex rounded-[10px] border border-naturalGray/20 bg-pampas px-[30px] py-[26px] shadow-card;
  }
}

@layer utilities {
  .buttonPrimary {
    background: linear-gradient(106.71deg, #f26f56 7.28%, #f49756 110.04%);
    box-shadow: 0px 0px 25px rgba(247, 120, 27, 0.1);
  }
  .buttonPrimary:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      linear-gradient(106.71deg, #f26f56 7.28%, #f49756 110.04%);
    box-shadow: 0px 0px 25px rgba(247, 120, 27, 0.25);
  }

  .buttonPrimaryTransparent {
    border: 1px solid rgba(243, 117, 87, 0.75);
  }

  .buttonPrimaryTransparent:hover {
    background: linear-gradient(
      106.71deg,
      rgba(242, 111, 86, 0.07) 7.28%,
      rgba(244, 151, 86, 0.07) 110.04%
    );
  }
}

/* React tooltip overries */

.react-tooltip-custom {
  /* position: absolute; */
  color: #2b2b2b !important;
  font-size: 0.8rem !important;
  background: white !important;
  box-shadow: 0.4rem 1.1rem 0.95rem 0px #0000001c;
  opacity: 1 !important;
  text-transform: initial !important;
  padding: 0.4rem 0.4rem !important;
  z-index: 1000 !important;
  max-width: 17rem !important;
}
.react-tooltip-custom.place-top::after {
  border-top-color: white !important;
  border-top-style: white !important;
  border-top-width: 1px !important;
}
.react-tooltip-custom.place-bottom::after {
  border-bottom-color: white !important;
  border-bottom-style: white !important;
  border-bottom-width: 1px !important;
}
.react-tooltip-custom.place-right::after {
  border-right-color: white !important;
  border-right-style: white !important;
  border-right-width: 1px !important;
}
.react-tooltip-custom.place-left::after {
  border-left-color: white !important;
  border-left-style: white !important;
  border-left-width: 1px !important;
}
